<!DOCTYPE html>
<html>
<head>
<title>FlaskTest</title>
</head>
<body>
    <h2>Welcome To GFG</h2>
    <h4>Flask: Rendering Templates</h4>
    <a href="/home">Home</a>
    <a href="/">Index</a>
    <a href="/about">About</a>
    <a href="/documentation">Documentation</a>
<p> This is a home page</p>
<p>must use extends not include</p>
</body>
</html>



<!---DOCTYPE html>
<html>

<head>
    <title>FlaskTest</title>
</head>

<body>
    <h2>Welcome To GFG</h2>
    <h3>Welcome, {{name}}</h3>
</body>

</html--->